<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="country">
      <ion-icon aria-hidden="true" name="earth"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="value">
      <ion-icon aria-hidden="true" name="logo-euro"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="year">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="found">
      <ion-icon aria-hidden="true" name="checkmark"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>