<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToImport()">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Search for Coins</ion-card-title>
      <ion-card-subtitle>Seperate by Whitespace</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input type="text" [(ngModel)]="filter" (ionChange)="refresh()"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ng-template #noValues>
    <div class="ion-text-center">
      <ion-text>
        <strong>
          Search to show results
        </strong>
      </ion-text>
    </div>
  </ng-template>

  <cdk-virtual-scroll-viewport itemSize="71" minBufferPx="500" maxBufferPx="1000"
    *ngIf="((coins$ | async)?.length ?? 0 > 0); else noValues">
    <ion-list>
      <app-coin *cdkVirtualFor="let coin of (coins$ | async)" [coin]="coin"></app-coin>
    </ion-list>
  </cdk-virtual-scroll-viewport>

</ion-content>